body,
html {
    margin: 0;
    font-family: sans-serif;
}

.form {
    text-align: center;
}

input {
    width: 15px;
    margin: 5px;
}

select {
    margin: 5px;
}

#test span {
    color: red;
}

table {
    text-align: center;
    margin: 0 auto;
}